.container {
	display: grid;
	/* grid-template-columns: 1fr 2fr 1fr; */
	/* shorter syntax to repetedly apply same fr */
	grid-template-columns: repeat(1, 1fr 2fr 1fr);
	grid-gap: 1px;
	/* set fixed hight for row */
	/* grid-auto-rows: 100px; */

	/* allow row to expand or shrink as per requirement to fit content */
	grid-auto-rows: minmax(100px, auto);
}

.container div {
	padding: 1em;
	background: #eee;
}

.container div:nth-child(odd){
	background-color: #ddd;
}

.nested {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1px;
	grid-auto-rows: 40px;
}

.nested div {
	border: 1px black solid;
	padding: 5px;
}
