/* reset  */
*{
	margin: 0;
	padding: 0;
}

body {
	background-color: #6d6875;
	color: #f1faee;
	font: normal 16px cursive;
	line-height: 1.8em;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
}

a:active{
	color: red;
}

.container {
	width: 80%;
	margin: auto;
}

.button {
	background: darkslategray;
	color: white;
	padding: 5px;
	border-radius: 10px;
	box-shadow: grey 0px 0px 10px;
}

.button:hover{
	background-color: wheat;
	color: black;
}

.clr {
	clear: both;
}

.position-box {
	margin-top: 20px;
	border: 2px #ffcdb2 solid;
	position: relative;
	width: 700px;
	height: 500px;
	background-image: url('../images/bg-dark.jpg');
	background-position: center;
}

.position-box h1 {
	/* distance relative from parent  */
	position: absolute;
	/* distance from parent elements side  */
	top: 20px;
	left: 50px;
}

.position-box h2 {
	/* distance relative from parent  */
	position: absolute;
	/* distance from side of parent element */
	bottom: 20px;
	right: 40px;
}

.fixed {
	position: fixed;
	top: 200px;
	right: 10px;
}

.my-list {
	margin-top: 20px;
}

.my-list li:first-child {
	background: #f4a261;
} 

.my-list li:last-child {
	background: #e76f51;
} 

.my-list li:nth-child(5) {
	background: #e63946;
} 

.my-list li:nth-child(even) {
	background: #fae1dd;
} 
